In [1]:
import os
import sys
import datetime
import numpy as np
import pandas as pd
import tensorflow as tf
from matplotlib import pyplot as plt

In [2]:
train_data = pd.read_csv('C://Users//paran//OneDrive//Desktop//Spooky_Author_Identification//train.csv')

In [3]:
train_data

            id                                               text author
0      id26305  This process, however, afforded me no means of...    EAP
1      id17569  It never once occurred to me that the fumbling...    HPL
2      id11008  In his left hand was a gold snuff box, from wh...    EAP
3      id27763  How lovely is spring As we looked from Windsor...    MWS
4      id12958  Finding nothing else, not even gold, the Super...    HPL
...        ...                                                ...    ...
19574  id17718  I could have fancied, while I looked at it, th...    EAP
19575  id08973  The lids clenched themselves together as if in...    EAP
19576  id05267  Mais il faut agir that is to say, a Frenchman ...    EAP
19577  id17513  For an item of news like this, it strikes us i...    EAP
19578  id00393  He laid a gnarled claw on my shoulder, and it ...    HPL

[19579 rows x 3 columns]

In [4]:
type(train_data)

pandas.core.frame.DataFrame

In [5]:
import pandas as pd
import string
import re

# Define preprocessing function
def preprocess_text(text):
    # Remove punctuation
    text = text.translate(str.maketrans('', '', string.punctuation))

    # Convert text to lowercase
    text = text.lower()

    # Remove numbers
    text = re.sub(r'\d+', '', text)

    # Remove whitespace
    text = text.strip()

    return text

# Assuming train_data is your DataFrame with a 'text' column
train_data['processed_text'] = train_data['text'].apply(preprocess_text)

In [6]:
train_data['processed_text'] = train_data['text'].apply(preprocess_text)

In [7]:
train_data

,id,text,author,processed_text
0,id26305,"This process, however, afforded me no means of...",EAP,this process however afforded me no means of a...
1,id17569,It never once occurred to me that the fumbling...,HPL,it never once occurred to me that the fumbling...
2,id11008,"In his left hand was a gold snuff box, from wh...",EAP,in his left hand was a gold snuff box from whi...
3,id27763,How lovely is spring As we looked from Windsor...,MWS,how lovely is spring as we looked from windsor...
4,id12958,"Finding nothing else, not even gold, the Super...",HPL,finding nothing else not even gold the superin...
...,...,...,...,...
19574,id17718,"I could have fancied, while I looked at it, th...",EAP,i could have fancied while i looked at it that...
19575,id08973,The lids clenched themselves together as if in...,EAP,the lids clenched themselves together as if in...
19576,id05267,"Mais il faut agir that is to say, a Frenchman ...",EAP,mais il faut agir that is to say a frenchman n...
19577,id17513,"For an item of news like this, it strikes us i...",EAP,for an item of news like this it strikes us it...
19578,id00393,"He laid a gnarled claw on my shoulder, and it ...",HPL,he laid a gnarled claw on my shoulder and it s...

In [8]:
author_names = train_data.author

In [9]:
from tensorflow.keras.preprocessing.text import Tokenizer
tokenizer = Tokenizer()

In [10]:
texts = train_data['processed_text'].tolist()

In [11]:
tokenizer.fit_on_texts(texts)

In [12]:
train_data['text_id'] = tokenizer.texts_to_sequences(train_data['processed_text'])

In [13]:
train_data

,id,text,author,processed_text,text_id
0,id26305,"This process, however, afforded me no means of...",EAP,this process however afforded me no means of a...,"[26, 2954, 143, 1373, 22, 37, 293, 2, 7443, 1,..."
1,id17569,It never once occurred to me that the fumbling...,HPL,it never once occurred to me that the fumbling...,"[11, 89, 125, 722, 4, 22, 9, 1, 5936, 79, 28, ..."
2,id11008,"In his left hand was a gold snuff box, from wh...",EAP,in his left hand was a gold snuff box from whi...,"[7, 15, 145, 173, 8, 6, 712, 4937, 558, 23, 18..."
3,id27763,How lovely is spring As we looked from Windsor...,MWS,how lovely is spring as we looked from windsor...,"[121, 595, 25, 779, 16, 35, 211, 23, 694, 4256..."
4,id12958,"Finding nothing else, not even gold, the Super...",HPL,finding nothing else not even gold the superin...,"[1127, 167, 678, 20, 76, 712, 1, 4938, 1800, 1..."
...,...,...,...,...,...
19574,id17718,"I could have fancied, while I looked at it, th...",EAP,i could have fancied while i looked at it that...,"[5, 46, 31, 1130, 102, 5, 211, 21, 11, 9, 54, ..."
19575,id08973,The lids clenched themselves together as if in...,EAP,the lids clenched themselves together as if in...,"[1, 2629, 7322, 365, 395, 16, 62, 7, 6, 7586]"
19576,id05267,"Mais il faut agir that is to say, a Frenchman ...",EAP,mais il faut agir that is to say a frenchman n...,"[10409, 5065, 15804, 25411, 9, 25, 4, 128, 6, ..."
19577,id17513,"For an item of news like this, it strikes us i...",EAP,for an item of news like this it strikes us it...,"[17, 34, 4659, 2, 2713, 82, 26, 11, 9619, 84, ..."
19578,id00393,"He laid a gnarled claw on my shoulder, and it ...",HPL,he laid a gnarled claw on my shoulder and it s...,"[13, 1352, 6, 6665, 6559, 27, 10, 1670, 3, 11,..."

In [14]:
from tensorflow.keras.preprocessing.sequence import pad_sequences

In [15]:
X= pad_sequences(train_data['text_id'], maxlen=300)

In [16]:
train_data

,id,text,author,processed_text,text_id
0,id26305,"This process, however, afforded me no means of...",EAP,this process however afforded me no means of a...,"[26, 2954, 143, 1373, 22, 37, 293, 2, 7443, 1,..."
1,id17569,It never once occurred to me that the fumbling...,HPL,it never once occurred to me that the fumbling...,"[11, 89, 125, 722, 4, 22, 9, 1, 5936, 79, 28, ..."
2,id11008,"In his left hand was a gold snuff box, from wh...",EAP,in his left hand was a gold snuff box from whi...,"[7, 15, 145, 173, 8, 6, 712, 4937, 558, 23, 18..."
3,id27763,How lovely is spring As we looked from Windsor...,MWS,how lovely is spring as we looked from windsor...,"[121, 595, 25, 779, 16, 35, 211, 23, 694, 4256..."
4,id12958,"Finding nothing else, not even gold, the Super...",HPL,finding nothing else not even gold the superin...,"[1127, 167, 678, 20, 76, 712, 1, 4938, 1800, 1..."
...,...,...,...,...,...
19574,id17718,"I could have fancied, while I looked at it, th...",EAP,i could have fancied while i looked at it that...,"[5, 46, 31, 1130, 102, 5, 211, 21, 11, 9, 54, ..."
19575,id08973,The lids clenched themselves together as if in...,EAP,the lids clenched themselves together as if in...,"[1, 2629, 7322, 365, 395, 16, 62, 7, 6, 7586]"
19576,id05267,"Mais il faut agir that is to say, a Frenchman ...",EAP,mais il faut agir that is to say a frenchman n...,"[10409, 5065, 15804, 25411, 9, 25, 4, 128, 6, ..."
19577,id17513,"For an item of news like this, it strikes us i...",EAP,for an item of news like this it strikes us it...,"[17, 34, 4659, 2, 2713, 82, 26, 11, 9619, 84, ..."
19578,id00393,"He laid a gnarled claw on my shoulder, and it ...",HPL,he laid a gnarled claw on my shoulder and it s...,"[13, 1352, 6, 6665, 6559, 27, 10, 1670, 3, 11,..."

In [17]:
tokenizer.fit_on_texts(train_data['author'])

In [18]:
author_to_id=tokenizer.texts_to_sequences(train_data['author'])

In [19]:
train_data['author_id'] = tokenizer.texts_to_sequences(train_data['author'])

In [20]:
train_data

,id,text,author,processed_text,text_id,author_id
0,id26305,"This process, however, afforded me no means of...",EAP,this process however afforded me no means of a...,"[26, 2954, 143, 1373, 22, 37, 293, 2, 7443, 1,...",[8]
1,id17569,It never once occurred to me that the fumbling...,HPL,it never once occurred to me that the fumbling...,"[11, 89, 125, 722, 4, 22, 9, 1, 5936, 79, 28, ...",[12]
2,id11008,"In his left hand was a gold snuff box, from wh...",EAP,in his left hand was a gold snuff box from whi...,"[7, 15, 145, 173, 8, 6, 712, 4937, 558, 23, 18...",[8]
3,id27763,How lovely is spring As we looked from Windsor...,MWS,how lovely is spring as we looked from windsor...,"[121, 595, 25, 779, 16, 35, 211, 23, 694, 4256...",[11]
4,id12958,"Finding nothing else, not even gold, the Super...",HPL,finding nothing else not even gold the superin...,"[1127, 167, 678, 20, 76, 712, 1, 4938, 1800, 1...",[12]
...,...,...,...,...,...,...
19574,id17718,"I could have fancied, while I looked at it, th...",EAP,i could have fancied while i looked at it that...,"[5, 46, 31, 1130, 102, 5, 211, 21, 11, 9, 54, ...",[8]
19575,id08973,The lids clenched themselves together as if in...,EAP,the lids clenched themselves together as if in...,"[1, 2629, 7322, 365, 395, 16, 62, 7, 6, 7586]",[8]
19576,id05267,"Mais il faut agir that is to say, a Frenchman ...",EAP,mais il faut agir that is to say a frenchman n...,"[10409, 5065, 15804, 25411, 9, 25, 4, 128, 6, ...",[8]
19577,id17513,"For an item of news like this, it strikes us i...",EAP,for an item of news like this it strikes us it...,"[17, 34, 4659, 2, 2713, 82, 26, 11, 9619, 84, ...",[8]
19578,id00393,"He laid a gnarled claw on my shoulder, and it ...",HPL,he laid a gnarled claw on my shoulder and it s...,"[13, 1352, 6, 6665, 6559, 27, 10, 1670, 3, 11,...",[12]

In [21]:
print(train_data['author_id'].dtype)

object

In [22]:
train_data['author_id']=[int(item[0]) for item in train_data['author_id']]

In [23]:
train_data

,id,text,author,processed_text,text_id,author_id
0,id26305,"This process, however, afforded me no means of...",EAP,this process however afforded me no means of a...,"[26, 2954, 143, 1373, 22, 37, 293, 2, 7443, 1,...",8
1,id17569,It never once occurred to me that the fumbling...,HPL,it never once occurred to me that the fumbling...,"[11, 89, 125, 722, 4, 22, 9, 1, 5936, 79, 28, ...",12
2,id11008,"In his left hand was a gold snuff box, from wh...",EAP,in his left hand was a gold snuff box from whi...,"[7, 15, 145, 173, 8, 6, 712, 4937, 558, 23, 18...",8
3,id27763,How lovely is spring As we looked from Windsor...,MWS,how lovely is spring as we looked from windsor...,"[121, 595, 25, 779, 16, 35, 211, 23, 694, 4256...",11
4,id12958,"Finding nothing else, not even gold, the Super...",HPL,finding nothing else not even gold the superin...,"[1127, 167, 678, 20, 76, 712, 1, 4938, 1800, 1...",12
...,...,...,...,...,...,...
19574,id17718,"I could have fancied, while I looked at it, th...",EAP,i could have fancied while i looked at it that...,"[5, 46, 31, 1130, 102, 5, 211, 21, 11, 9, 54, ...",8
19575,id08973,The lids clenched themselves together as if in...,EAP,the lids clenched themselves together as if in...,"[1, 2629, 7322, 365, 395, 16, 62, 7, 6, 7586]",8
19576,id05267,"Mais il faut agir that is to say, a Frenchman ...",EAP,mais il faut agir that is to say a frenchman n...,"[10409, 5065, 15804, 25411, 9, 25, 4, 128, 6, ...",8
19577,id17513,"For an item of news like this, it strikes us i...",EAP,for an item of news like this it strikes us it...,"[17, 34, 4659, 2, 2713, 82, 26, 11, 9619, 84, ...",8
19578,id00393,"He laid a gnarled claw on my shoulder, and it ...",HPL,he laid a gnarled claw on my shoulder and it s...,"[13, 1352, 6, 6665, 6559, 27, 10, 1670, 3, 11,...",12

In [24]:
y=tf.keras.utils.to_categorical(train_data['author_id'],
num_classes=len(author_names))
from sklearn.model_selection import train_test_split
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2)

In [25]:
import pickle
with open('tokenizer.pickle', 'wb') as f:
    pickle.dump(tokenizer, f)

In [26]:
import pickle
with open('author_to_id.pickle', 'wb') as f:
    pickle.dump(author_to_id, f)

In [27]:
from tensorflow.keras.regularizers import l2
model = tf.keras.Sequential
tf.keras.layers.Embedding(input_dim=len(tokenizer.word_index)+1, output_dim=128, input_length=300)
tf.keras.layers.Conv1D(128, 5, activation='relu'),
tf.keras.layers.GlobalMaxPooling1D(),
tf.keras.layers.Dense(128, activation='relu', kernel_regularizer=l2(0.01)),
tf.keras.layers.Dense(len(author_names), activation='softmax', kernel_regularizer=l2(0.01)),

(<keras.layers.core.dense.Dense at 0x2686be9d5a0>,)

In [28]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

# Import the optimizer
from tensorflow.keras.optimizers import RMSprop

# Example model definition
model = Sequential([
    Dense(64, activation='relu', input_shape=(19579,)),
    Dense(10, activation='softmax')
])

# Compile the model
model.compile(loss='categorical_crossentropy', optimizer=RMSprop(learning_rate=0.001), metrics=['accuracy'])

In [29]:
print(X_train.shape)
print(y_train.shape)

(15663, 300)
(15663, 19579)

In [30]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

# Assuming X_train and y_train are your training data
input_shape = (300,)

model = Sequential([
    Dense(64, activation='relu', input_shape=input_shape),
    Dense(19579, activation='softmax')  # Adjust units based on the number of classes
])

# Compile the model
model.compile(loss='categorical_crossentropy', optimizer=RMSprop(learning_rate=0.001), metrics=['accuracy'])

In [31]:
"""from tensorflow.keras.utils import to_categorical

# Assuming y_train and y_val are your target labels
y_train_one_hot = to_categorical(y_train, num_classes=19579)
y_val_one_hot = to_categorical(y_val, num_classes=19579)

# Now, you can use these one-hot encoded labels in model.fit
model.fit(X_train, y_train_one_hot, validation_data=(X_val, y_val_one_hot), epochs=10, batch_size=128)"""

'from tensorflow.keras.utils import to_categorical\n\n# Assuming y_train and y_val are your target labels\ny_train_one_hot = to_categorical(y_train, num_classes=19579)\ny_val_one_hot = to_categorical(y_val, num_classes=19579)\n\n# Now, you can use these one-hot encoded labels in model.fit\nmodel.fit(X_train, y_train_one_hot, validation_data=(X_val, y_val_one_hot), epochs=10, batch_size=128)'

In [32]:
"""history = model.fit(padded_X_train, y_train, validation_data=(X_val, y_val), epochs=10, batch_size=128)

# Print training history
print(history.history)
"""
model.fit(X_train,y_train,validation_data=(X_val,y_val),epochs=10, batch_size=128)

Epoch 1/10
123/123 [==============================] - 40s 303ms/step - loss: 18.9883 - accuracy: 0.3443 - val_loss: 5.6210 - val_accuracy: 0.3774
Epoch 2/10
123/123 [==============================] - 36s 294ms/step - loss: 3.2081 - accuracy: 0.3529 - val_loss: 2.4030 - val_accuracy: 0.3103
Epoch 3/10
123/123 [==============================] - 33s 265ms/step - loss: 1.9609 - accuracy: 0.3589 - val_loss: 1.9505 - val_accuracy: 0.3248
Epoch 4/10
123/123 [==============================] - 55s 450ms/step - loss: 1.6375 - accuracy: 0.3585 - val_loss: 1.5208 - val_accuracy: 0.3687
Epoch 5/10
123/123 [==============================] - 43s 351ms/step - loss: 1.4882 - accuracy: 0.3715 - val_loss: 1.4744 - val_accuracy: 0.3800
Epoch 6/10
123/123 [==============================] - 39s 313ms/step - loss: 1.3938 - accuracy: 0.3850 - val_loss: 1.3672 - val_accuracy: 0.3777
Epoch 7/10
123/123 [==============================] - 33s 270ms/step - loss: 1.3530 - accuracy: 0.3861 - val_loss: 1.3513 - val_accuracy: 0.3836
Epoch 8/10
123/123 [==============================] - 33s 268ms/step - loss: 1.2981 - accuracy: 0.4059 - val_loss: 1.5138 - val_accuracy: 0.3478
Epoch 9/10
123/123 [==============================] - 33s 269ms/step - loss: 1.2823 - accuracy: 0.4014 - val_loss: 1.6686 - val_accuracy: 0.3938
Epoch 10/10
123/123 [==============================] - 32s 262ms/step - loss: 1.2551 - accuracy: 0.4003 - val_loss: 1.4217 - val_accuracy: 0.3830

In [33]:
print(X_train.shape)
print(y_train.shape)

(15663, 300)
(15663, 19579)

In [34]:
test_data = pd.read_csv('C://Users//paran//OneDrive//Desktop//Spooky_Author_Identification//test.csv')

In [35]:
test_data

           id                                               text
0     id02310  Still, as I urged our leaving Ireland with suc...
1     id24541  If a fire wanted fanning, it could readily be ...
2     id00134  And when they had broken down the frail door t...
3     id27757  While I was thinking how I should possibly man...
4     id04081  I am not sure to what limit his knowledge may ...
...       ...                                                ...
8387  id11749         All this is now the fitter for my purpose.
8388  id10526                 I fixed myself on a wide solitude.
8389  id13477  It is easily understood that what might improv...
8390  id13761  Be this as it may, I now began to feel the ins...
8391  id04282  Long winded, statistical, and drearily genealo...

[8392 rows x 2 columns]

In [36]:
test_data['text']=test_data['text'].apply(preprocess_text)
test_data['text_id']=tokenizer.texts_to_sequences(test_data['text'])

In [37]:
# Assuming author_to_id is a list of authors 
author_to_id = {author: index for index, author in enumerate(author_names)} 
 
# Rest of your code 
y_pred = model.predict(np.asarray(tf.keras.preprocessing.sequence.pad_sequences(test_data['text_id'], maxlen=300))) 
id_to_author = {v: k for k, v in author_to_id.items()} 
#y_pred_author = [id_to_author[i] for i in y_pred.argmax(axis=1)] 
y_pred_author = [id_to_author.get(i, "Unknown") for i in y_pred.argmax(axis=1)]

263/263 [==============================] - 7s 24ms/step

In [38]:
model.save('my_model.h5')